.wrapper {
    display: flex;
    align-items: center;
    gap: 2px;
    color: var(--primary-white);
    
    > select {
        color: var(--primary-white);
        background-color: transparent;
        border: 0;
        font-family: var(--bitter-font-family);
        font-size: 16px;
        > option {
            background-color: var(--primary-orange);
        }
    }
}