.inputWrapper {
   width: 100%;
   position: relative;

   input {
      width: calc(100% - 30px);
      outline: none;
      border: none;
      padding: 15px;
      margin-top: 2px;
      font-size: 14px;
      font-family: var(--bitter-font-family);

      &:active,
      &:focus,
      &:not(&:placeholder-shown) {
         ~ label {
            top: 4px !important;
            font-size: 9px;
            padding: 3px;
            left: 10px;
         }
      }

      &[type="number"] {
         &::-webkit-inner-spin-button,
         &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
         }

         -moz-appearance: textfield;
         appearance: textfield;
      }
   }

   label {
      font-size: 14px;
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translate(0, -50%);
      color: #959595;
      background-color: white;
      transition: 150ms ease-in-out;
      pointer-events: none;
   }
}

.checkboxWrapper {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   height: 25px;
   position: relative;
   cursor: pointer;

   img {
      height: 25px;
      width: auto;
      position: absolute;
      left: 0px;
      opacity: 0;
      transition: 250ms ease-in-out;
      user-select: none;
   }

   input {
      width: fit-content;
      margin: 0px 10px 0px 0px;
      padding: 0px;
      display: none;
   }

   input:checked {
      ~ span {
         &::before {
            content: "";
            background-color: var(--primary-orange);
         }
      }

      ~ img {
         opacity: 1;
      }
   }

   span {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;
      font-size: 12px;
      color: #959595;

      &::before {
         user-select: none;
         transition: 120ms ease-in-out;
         content: "";
         display: inline-block;
         height: 25px;
         width: 25px;
         margin-right: 5px;
         background-color: #dddddd;
      }
   }

   &:hover {
      span {
         &::before {
            background-color: #cfcfcf;
         }
      }
   }
}
