.wrapper {
   width: 1000px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

   > p {
      text-align: center;
      margin: 10px 0px 45px 0px;
   }

   > div {
      display: flex;
      width: 100%;
      overflow-x: scroll;
      gap: 60px;
      padding: 1em 0;

      &::-webkit-scrollbar{
         border-radius: 15px;
         height: 8px;
      }
      &::-webkit-scrollbar-thumb{
         background-color: var(--primary-orange);
         border-radius: 10px;
       }
       &::-webkit-scrollbar-track{
         border-radius: 15px;
         background-color: var(--tertiary-white);
       }
   }
}

@media only screen and (max-width: 1150px) {
   .wrapper {
      width: 90vw;
      > div {
         gap: 30px;
      }
   }
}

@media only screen and (max-width: 600px) {
   .wrapper {
      width: 90vw;
   }
}
