.container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

   > h1 {
      font-family: var(--montserrat-font-family);
      font-size: 140px;
      font-weight: 1000;
      margin: 200px 0px 0px 0px;
      position: relative;
      line-height: 150px;

      &::before {
         position: absolute;
         top: 70%;
         max-width: 900px;
         width: 80vw;
         height: 900px;
         display: flex;
         align-items: center;
         justify-content: center;
         left: 50%;
         background: url("../../../assets/logo.svg");
         background-position: center;
         background-size: 100%;
         background-repeat: no-repeat;
         transform: translate(-50%, -50%);
         opacity: 0.05;
         content: "";
      }
   }

   > p {
      position: relative;
      z-index: 2;
      text-align: center;
      width: 600px;
   }

   > a {
      position: relative;
      z-index: 2;
      margin: 50px 0px 200px 0px;
      button {
         padding: 0px 100px;
         p {
            color: white;
         }
      }
   }
}

@media only screen and (max-width: 700px) {
   .container {
      > p {
         width: 90vw;
      }
   }
}

@media only screen and (max-width: 400px) {
   .container {
      > h1 {
         font-size: 80px;
      }
      > a {
         button {
            padding: 0px 20vw;
         }
      }
   }
}
