.links {
   display: flex;
   flex-direction: inherit;
   gap: 7px;

   button {
      min-width: 50px;
      aspect-ratio: 1/1;
      color: var(--primary-white);
   }

   p {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 5px;
   }
}
